body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif;
	color: #222;
}

.clearfix:after {
	content: "";
    display: table;
    clear: both;
}

div {
	box-sizing: border-box;
}

input::placeholder {
	color: #bbb;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Arial, sans-serif;
}

textarea::placeholder {
	color: #bbb;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Arial, sans-serif;
}

header {
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	height: 100vh;
}

.container {
	width: 930px;
	margin: 0 auto;
}

.logo {
	margin-top: 41px;
	float: left;
}

nav {
	float: right;
	margin-top: 50px;
}

.menu {
	margin: 0px;
	padding: 0px;
	display: block;
}

.menu li {
	float: left;
	display: block;	
	margin-right: 41px;	
}

.menu a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
}

.titles_first {
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
	text-align: center;
	margin-top: 180px;
}

h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 75px;
	text-align: center;
	margin: 15px;
}

.button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}

#Services .title {
	padding-top: 115px;
}

.title h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
	margin:  0;
}

.title p {
	color: #777;
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
}


#Services {
	padding-bottom: 120px;
}

.services {
	margin-top: 80px;
}

.services__item {
	width: 270px;
	float: left;
	text-align: center;
}

.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services__item span {
	font-size: 14px;
	color: #777;
	line-height: 1.55em;
}

.services__item:last-child {
	float: right;
}

#Portfolio {
	background: #f7f7f7;
	padding-bottom: 120px;
}

.portfolio {
	margin-top: 70px;
}

.services__item:nth-child(2) {
	margin-left: 60px;
}

.portfolio__item {
	float: left;
}

.portfolio__item:last-child {
	float: right;
}

.portfolio__item:nth-child(2) {
	margin-left: 29px;
}

/* ABOUT */
#About {
	padding: 120px 0;
}

#About .blocks-about {
	display: flex;
	flex-direction: column;
}

#About .blocks-about .block {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-content: center;
	margin-top: 88px;
}

#About .blocks-about .block .text-right {
	text-align: right;
}

#About .blocks-about .block .text-left {
	text-align: left;
}

#About .blocks-about .block .block-text .date {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

#About .blocks-about .block .block-text .title {
	font-size: 18px;
	font-weight: bold;
	margin-top: 5px;
}

#About .blocks-about .block .block-text .description {
	font-size: 14px;
	line-height: 17px;
	color: #777777;
	margin-top: 15px;
}

#About .blocks-about .block .block-img {
	text-align: center;
}

#About .blocks-about .block .block-img img {
	width: 175px;
}

#About .blocks-about .block .block-button {
	text-align: center;
}

#About .blocks-about .block .block-button button {
	width: 168px;
	height: 168px;
	border-radius: 50%;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 24px;
	background: #fed136;
	border: 7px solid #f1f1f1;
	padding: 0 30px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

/* TEAM */
#Team {
	background: #f9f9f9;
	padding: 120px 0;
}

#Team .container .block-team {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-self: center;
	text-align: center;
	margin-top: 84px;
}

#Team .container .block-team .block {
	display: flex;
	flex-direction: column;
}

#Team .container .block-team .block .block-img img {
	border-radius: 50%;
	width: 220px;
	height: 220px;
	background: #222;
}

#Team .container .block-team .block .name {
	font-size: 16px;
	font-weight: bold;
	color: #222;
	margin-top: 26px;
}

#Team .container .block-team .block .vacancy {
	font-size: 14px;
	color: #777777;
}

#Team .container .block-team .block .social {
	margin-top: 15px;
}

#Team .container .block-team .block .social a img {
	width: 40px;
	height: 40px;
	margin-right: 10px;

}

#Team .container p:last-child {
	margin: 0 172px;
	color: #777777;
	font-size: 16px;
	text-align: center;
	margin-top: 50px;
}

/* PARTNERS */
#partners {
	padding: 60px 0;
}

#partners .slider {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 34px;
}

/* CONTACT */
#contact {
	padding: 110px 0 116px 0;
	background: url(/img/background.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#contact .title h2 {
	color: #fff;
}

#contact form {
	margin-top: 80px;
}

#contact form .form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}

#contact form .form .input {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#contact form .form .input input, #contact form .form textarea {
	padding: 18px;
	color: #bbb;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 5px;
	border: none;
}

#contact form .form input {
	margin-bottom: 30px;
}

#contact form .form textarea {
	width: 100%;
}

#contact form .button a {
	text-align: center;
	color: #fff;
	text-decoration: none;
}

/* FOOTER */
footer {
	padding: 20px 0 30px 0;
}

footer .container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
}

footer .container .copyright, footer .container .copyright a {
	color: #555;
	font-size: 14px;
	text-decoration: none;
}

footer .container .social {
	text-align: center;
}












